<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destination Confirmation</title>
</head>
<body>
    <h1>Destination was added! :)</h1>
    <p>name: <%= country %></p>
    <p>code2: <%= code2 %></p>
    <p>code3: <%= code3 %></p>
    <p>visited: <%= bo %></p>
</body>
</html>